#!/bin/bash
#export PATH="$PATH:/opt/idea-IC-212.4746.92/bin"
xbindkeys           	#keybindings
picom &             	#window compositor
mocp -S                 #run mocp server
statusbar.sh &      	#run status bar script
~/.fehbg &          	#background
[[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources #load Xresources
fcitx -d &          	#japanese input
exec dwm            	#start window manager
